<h1 class="text-center">เปิดใช้งาน Tablet</h1>
<hr id="hr-line">
<div id="container">
  <ion-list>
      <ion-item>
        <ion-label stacked primary>รหัสพนักงาน</ion-label>
        <ion-input [(ngModel)]="USERID"  type="text" id="name">
        </ion-input>
      </ion-item>
      <p id="error" *ngIf="!USERID && notValid" danger padding-left>กรุณากรอกข้อมูล รหัสพนักงาน</p>
      <ion-item>
        <ion-label stacked primary>รหัสผ่านเก่า</ion-label>
        <ion-input [(ngModel)]="oldPassword"  type="password" id="password" placeholder="รหัสผ่านเก่า">
        </ion-input>
      </ion-item>
      <p id="error" *ngIf="!oldPassword && notValid" danger padding-left>กรุณากรอกข้อมูล รหัสผ่านเก่า</p>
      <ion-item>
        <ion-label stacked primary>รหัสผ่านใหม่</ion-label>
        <ion-input [(ngModel)]="newPassword"  type="password" id="password" placeholder="รหัสผ่านใหม่">
        </ion-input>
      </ion-item>
      <p id="error" *ngIf="!newPassword && notValid" danger padding-left>กรุณากรอกข้อมูล รหัสผ่านใหม่</p>
      <ion-item>
        <ion-label stacked primary>รหัสผ่านใหม่</ion-label>
        <ion-input [(ngModel)]="newPassword2"  type="password" id="password" placeholder="รหัสผ่านใหม่">
        </ion-input>
      </ion-item>
      <p id="error" *ngIf="!newPassword2 && notValid" danger padding-left>กรุณากรอกข้อมูล รหัสผ่านใหม่</p> 

      <button ion-button id="loginButton" (click)="onSubmit()" inline-block color="primary">ยืนยัน</button> 
    
    <button ion-button (click)="goBack()" id="loginButton" class="btn btn-default" color="light">ย้อนกลับ</button>
  </ion-list>
</div>
