page-collectionform {
    #segment-button {
        font-size: 20px;
    }

    #duty-color {
        font-size: 35px;
    }
    #background{
        background-color: rgb(0, 153, 255)
    }

}
.alert-message{
    overflow-y:auto;
$colors : (
        warning: #f53d3d );
}
