<!--
  Generated template for the PumpWaterImgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <h2 class="text-center">ตัวอย่างรูปเครื่องสูบน้ำ</h2>
  <hr id="hr-line">
  <div *ngIf="type == 'badan'">
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          1.(ไฟฟ้า) ปั๊มซับเมิร์ส-ปั๊มแบบจุ่ม
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/1/1.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          2. (ไฟฟ้า) ปั๊มเจ็ท-ปั๊มน้ำอัตโนมัติสำหรับดูดน้ำลึก
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/2/1.jpg" style="width:35%"
          />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          3.(ไฟฟ้า) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/3/images.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          4.(ไฟฟ้า) ปั๊มชัก
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/4/am.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    <ion-grid style="text-align: center" *ngIf="model == 2">
      <ion-row>
        <ion-col col-6>
          5. (ดีเซล) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/5/100KB-4E.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    <ion-grid style="text-align: center" *ngIf="model == 3">
      <ion-row>
        <ion-col col-6>
          6. (เบนซิน) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/6/WP-653 LPG.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 4">
      <ion-row>
        <ion-col col-6>
          7. (รถไถ) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/7/WPD-150.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 4">
      <ion-row>
        <ion-col col-6>
          8. (รถไถ) ปั๊มเจ็ท
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/8/IM2.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 4">
      <ion-row>
        <ion-col col-6>
          9. (รถไถ) เทอร์ไบร์
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/9/5.png" style="width:35%"
          />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 5">
      <ion-row>
        <ion-col col-6>
          10. (แรงคน) ปั๊มน้ำแบบโยก
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/badan/10/2.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
  </div>
  <div *ngIf="type == 'din'">
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          1. (ไฟฟ้า) ปั๊มไดโว่-ปั๊มจุ่ม-ป๊มแช่
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/1/1482716642.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          2. (ไฟฟ้า) ปั๊มอัตโนมัติ
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/2/128087.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 1">
      <ion-row>
        <ion-col col-6>
          3.(ไฟฟ้า) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/3/images.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 2">
      <ion-row>
        <ion-col col-6>
          4. (ดีเซล) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/4/CBP-60E.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 3">
      <ion-row>
        <ion-col col-6>
          5. (เบนซิน) ปั๊มหอยโข่ง
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/5/HPW-20.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    
    <ion-grid style="text-align: center" *ngIf="model == 4">
      <ion-row>
        <ion-col col-6>
          6. (รถไถ) ปั๊มหอยโข่ง-ปั๊มพญานาค
        </ion-col>
        <ion-col col-6>
          <img src="assets/imgs/img/ground/6/images.jpg" style="width:35%" />
        </ion-col>
      </ion-row>
      <hr id="hr-line">
    </ion-grid>
    

  </div>
  <button ion-button (click)="back()" color="light">ย้อนกลับ</button>
</ion-content>